@charset "UTF-8";
@font-face {
  font-family: "Open_Sans";
  font-display: swap;
  src: url("style/Open_Sans/OpenSans-Light.ttf");
  src: local("O"), url("style/Open_Sans/OpenSans-Light.ttf") format("truetype"), url("style/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("style/Raleway/static/Raleway-Light.ttf");
  src: local("O"), url("style/Raleway/static/Raleway-Light.ttf") format("truetype"), url("style/Raleway/static/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poiret_One";
  font-display: swap;
  src: url("style/Poiret_One/PoiretOne-Regular.ttf");
  src: local("O"), url("style/Poiret_One/PoiretOne-Regular.ttf") format("truetype"), url("style/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf");
  src: local("O"), url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype"), url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amatic_SC";
  font-display: swap;
  src: url("style/Amatic_SC/AmaticSC-Bold.ttf");
  src: local("O"), url("style/Amatic_SC/AmaticSC-Bold.ttf") format("truetype"), url("style/Amatic_SC/AmaticSC-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat_Alternates";
  font-display: swap;
  src: url("style/Montserrat_Alternates/MontserratAlternates-Light.ttf");
  src: local("O"), url("style/Montserrat_Alternates/MontserratAlternates-Light.ttf") format("truetype"), url("style/Montserrat_Alternates/MontserratAlternates-Light.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

.menu {
  background: #F39C12;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.menu a {
  text-decoration: none;
}

.menu nav {
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.logph {
  width: 70px;
  height: 50px;
  margin-left: 350px;
  margin-top: 10px;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  font-family: "Comfortaa";
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links .hover:hover {
  text-decoration: line-through;
  transition: 10s ease-in-out;
}

.hover_1 {
  text-decoration: line-through;
}

.menu .menu-icon {
  display: none;
}

.menu input[type=checkbox] {
  display: none;
}

.content .links ul {
  position: absolute;
  background: #f39c12;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul li a:hover {
  color: #e91e63;
  background-color: white;
}

/* fini menu*/
header {
  /*p*/
  /*second video*/
}
header .video_1 {
  margin-left: 0px;
  margin-top: 70px;
  position: absolute;
}
header .video_1 video {
  height: 949px;
  z-index: 0;
}
header .p {
  position: absolute;
  z-index: 1;
}
header .p .p_1 {
  color: white;
  font-size: 50px;
  font-family: "Comfortaa";
  margin-top: 300px;
  margin-left: 120px;
}
header .p .p_2 {
  color: white;
  font-size: 50px;
  font-family: "Comfortaa";
  margin-top: 20px;
  margin-left: 220px;
}
header .p .p_3 {
  margin-top: 20px;
  color: white;
  font-size: 50px;
  font-family: "Comfortaa";
  margin-left: 150px;
}
header .p .p_4 {
  margin-top: 20px;
  margin-left: 150px;
  color: white;
  font-size: 50px;
  font-family: "Comfortaa";
}
header .video {
  display: none;
}
main {
  /*info_about_people*/
}
main .first_block {
  position: absolute;
}
main .first_block .yellow {
  position: absolute;
  width: 1700px;
  height: 132px;
  margin-left: -30px;
  margin-top: 820px;
  background-color: #F2FFB0;
  z-index: 1;
}
main .first_block .p_text {
  width: 1730px;
  margin-top: 875px;
  margin-left: -30px;
  padding-bottom: 40px;
  z-index: 2;
  background-color: #F2FFB0;
  position: absolute;
  text-align: center;
  transform: rotate(-3.66deg);
  box-shadow: 0 14px 28px black;
  /*тут_ошибка*/
}
main .first_block .p_text p {
  font-family: "Poiret_One";
  animation: animate 3s liner infinite;
  background: liner-gradient(90deg, #F2FFB0, #000, #F2FFB0);
  background-repeat: no-repeat;
  font-size: 50px;
}
@keyframes animate {
  0% {
    background-position-x: -100%;
  }
  100% {
    background-position-x: 100%;
  }
}
main .second_block .img_for_two_blocks .img_1 {
  position: absolute;
  z-index: 4;
}
main .second_block .img_for_two_blocks .img_1 img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  margin-top: 910px;
  margin-left: -50px;
}
main .second_block .img_for_two_blocks .img_2 {
  position: absolute;
  margin-top: 850px;
  z-index: 4;
  margin-left: 1050px;
}
main .second_block .img_for_two_blocks .img_2 img {
  width: 130px;
}
main .second_block .img_for_two_blocks .img_3 {
  position: absolute;
  z-index: 5;
  margin-top: 1200px;
  margin-left: -20px;
}
main .second_block .img_for_two_blocks .img_3 img {
  width: 130px;
}
main .second_block .img_for_two_blocks .img_4 {
  position: absolute;
  z-index: 5;
  margin-top: 1500px;
  margin-left: 100px;
}
main .second_block .img_for_two_blocks .img_4 img {
  width: 130px;
}
main .second_block .img_for_two_blocks .img_5 {
  position: absolute;
  z-index: 4;
  margin-left: 1590px;
  margin-top: 1300px;
}
main .second_block .img_for_two_blocks .img_5 img {
  width: 140px;
}
main .second_block .img_for_two_blocks .img_6 {
  position: absolute;
  z-index: 4;
  margin-left: 1530px;
  margin-top: 1450px;
}
main .second_block .img_for_two_blocks .img_6 img {
  width: 130px;
}
main .second_block .feol {
  position: absolute;
  background-color: #E7A3FF;
  transform: rotate(-3.66deg);
  margin-top: 972px;
  margin-left: -30px;
  width: 1730px;
  height: 100px;
  z-index: 3;
}
main .second_block .info_block {
  background-color: #E7A3FF;
  width: 1700px;
  height: 1900px;
  margin-top: 1000px;
  position: absolute;
  /*first start*/
  /*first end*/
  /*second_start*/
  /*second_end*/
  /*third_start*/
  /*third_end*/
  /*fourth_start*/
  /*fourth_end*/
  /*fifth_start*/
  /*fifth_end*/
  /*sixth_start*/
  /*sixth_end*/
  /*seventh_start*/
  /*seventh_end*/
  /*eighth_start*/
  /*eighth_end*/
}
main .second_block .info_block .first {
  position: absolute;
}
main .second_block .info_block .first .img_1 {
  border-radius: 306.5px;
  width: 345px;
  height: 347px;
  margin-top: 100px;
  margin-left: 150px;
  position: absolute;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}
main .second_block .info_block .first .img_2 {
  position: absolute;
  z-index: 5;
  height: 100px;
  margin-left: 390px;
  margin-top: 70px;
}
main .second_block .info_block .first .name_first {
  background-color: #FF8C7D;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  z-index: 4;
  position: absolute;
  margin-top: 370px;
  margin-left: 150px;
  transition: width 1s;
}
main .second_block .info_block .first .name_first p {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
}
main .second_block .info_block .first .name_first:hover {
  transition: all 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .first .name_first:hover p:after {
  content: "Ирина Бараненко";
  font-family: "Amatic_SC";
}
main .second_block .info_block .first .name_first:hover p span {
  display: none;
}
main .second_block .info_block .second {
  position: absolute;
}
main .second_block .info_block .second .img_1 {
  margin-top: 100px;
  margin-left: 720px;
  border-radius: 100%;
  width: 345px;
  height: 347px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  z-index: 4;
}
main .second_block .info_block .second .img_2 {
  margin-left: -90px;
  z-index: 5;
  height: 100px;
  margin-top: 70px;
  position: absolute;
}
main .second_block .info_block .second .name_second {
  background-color: #FFAC59;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: -82px;
  margin-left: 720px;
  z-index: 5;
  transition: width 1s;
}
main .second_block .info_block .second .name_second p {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
}
main .second_block .info_block .second .name_second:hover {
  width: 340px;
  border-radius: 20px;
  transition: width 300ms;
}
main .second_block .info_block .second .name_second:hover p span {
  display: none;
}
main .second_block .info_block .second .name_second:hover p:after {
  content: "Анна Верещак (этот обонент не в зоне действия этой вселенной)";
}
main .second_block .info_block .third {
  position: absolute;
  z-index: 4;
}
main .second_block .info_block .third .img_1 {
  border-radius: 100%;
  width: 345px;
  height: 347px;
  margin-top: 100px;
  margin-left: 1250px;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}
main .second_block .info_block .third .img_2 {
  position: absolute;
  z-index: 5;
  height: 100px;
  margin-left: 1510px;
  margin-top: 70px;
  border-radius: 100%;
}
main .second_block .info_block .third .name_third {
  position: absolute;
  background-color: #D7EB00;
  transition: width 1s;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  z-index: 4;
  margin-left: 1260px;
  margin-top: 370px;
  transition: width 1s;
}
main .second_block .info_block .third .name_third p {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
}
main .second_block .info_block .third .name_third:hover {
  width: 340px;
  border-radius: 20px;
  transition: width 300ms;
}
main .second_block .info_block .third .name_third:hover p span {
  display: none;
}
main .second_block .info_block .third .name_third:hover p:after {
  content: "Юлия Фитуни";
}
main .second_block .info_block .fourth {
  position: absolute;
}
main .second_block .info_block .fourth .img_1 {
  border-radius: 100%;
  width: 345px;
  height: 347px;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 560px;
  margin-left: 150px;
}
main .second_block .info_block .fourth .img_2 {
  position: absolute;
  z-index: 5;
  height: 100px;
  margin-left: -110px;
  margin-top: 520px;
}
main .second_block .info_block .fourth .name_fourth {
  position: absolute;
  z-index: 5;
  background-color: #7CFF37;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  transition: width 1s;
  margin-top: -80px;
  margin-left: 150px;
}
main .second_block .info_block .fourth .name_fourth p {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
}
main .second_block .info_block .fourth .name_fourth:hover {
  width: 340px;
  border-radius: 20px;
  transition: width 500ms;
}
main .second_block .info_block .fourth .name_fourth:hover p span {
  display: none;
}
main .second_block .info_block .fourth .name_fourth:hover p:after {
  content: "Варвара Тертычная";
}
main .second_block .info_block .fifth {
  position: absolute;
  margin-top: 100px;
}
main .second_block .info_block .fifth .img_1 {
  border-radius: 100%;
  width: 345px;
  height: 347px;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 460px;
  margin-left: 720px;
}
main .second_block .info_block .fifth .img_2 {
  position: absolute;
  z-index: 5;
  margin-top: 450px;
  margin-left: -80px;
  height: 100px;
}
main .second_block .info_block .fifth .name_fifth {
  z-index: 5;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  transition: width 1s;
  background-color: #5EA7FF;
  margin-top: -80px;
  margin-left: 710px;
  position: absolute;
}
main .second_block .info_block .fifth .name_fifth p {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
}
main .second_block .info_block .fifth .name_fifth:hover {
  width: 340px;
  border-radius: 20px;
  transition: width 500ms;
}
main .second_block .info_block .fifth .name_fifth:hover p span {
  display: none;
}
main .second_block .info_block .fifth .name_fifth:hover p:after {
  content: "Юля Таранцова";
}
main .second_block .info_block .sixth {
  position: absolute;
}
main .second_block .info_block .sixth .img_1 {
  position: absolute;
  border-radius: 100%;
  width: 345px;
  height: 347px;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 560px;
  margin-left: 1250px;
}
main .second_block .info_block .sixth .img_2 {
  position: absolute;
  z-index: 5;
  height: 100px;
  margin-top: 530px;
  margin-left: 1500px;
}
main .second_block .info_block .sixth .name_sixth {
  position: absolute;
  background-color: #5E63FF;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-top: 830px;
  margin-left: 1250px;
  z-index: 5;
  transition: width 1s;
}
main .second_block .info_block .sixth .name_sixth p {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
}
main .second_block .info_block .sixth .name_sixth:hover {
  width: 340px;
  border-radius: 20px;
  transition: width 500ms;
}
main .second_block .info_block .sixth .name_sixth:hover p span {
  display: none;
}
main .second_block .info_block .sixth .name_sixth:hover p:after {
  content: "Надежда Демидова";
}
main .second_block .info_block .seventh .img_1 {
  position: absolute;
  border-radius: 100%;
  width: 345px;
  height: 347px;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 1000px;
  margin-left: 410px;
}
main .second_block .info_block .seventh .img_2 {
  position: absolute;
  z-index: 5;
  height: 100px;
  margin-top: 980px;
  margin-left: 670px;
}
main .second_block .info_block .seventh .name_seventh {
  position: absolute;
  background-color: #AA00FF;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-top: 1270px;
  margin-left: 400px;
  z-index: 5;
}
main .second_block .info_block .seventh .name_seventh p {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
}
main .second_block .info_block .seventh .name_seventh:hover {
  width: 340px;
  border-radius: 20px;
  transition: width 500ms;
}
main .second_block .info_block .seventh .name_seventh:hover p span {
  display: none;
}
main .second_block .info_block .seventh .name_seventh:hover p:after {
  content: "Маша Новокщенова";
}
main .second_block .info_block .eighth .img_1 {
  position: absolute;
  border-radius: 100%;
  width: 345px;
  height: 347px;
  z-index: 4;
  box-shadow: 0 14px 28px #000002;
  margin-top: 1000px;
  margin-left: 970px;
}
main .second_block .info_block .eighth .img_2 {
  position: absolute;
  z-index: 5;
  height: 100px;
  margin-top: 980px;
  margin-left: 1230px;
}
main .second_block .info_block .eighth .name_eighth {
  margin-top: 1270px;
  margin-left: 965px;
  z-index: 5;
  position: absolute;
  background: #3f5efb;
  background: linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
main .second_block .info_block .eighth .name_eighth p {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
}
main .second_block .info_block .eighth .name_eighth:hover {
  width: 340px;
  border-radius: 20px;
  transition: width 500ms;
}
main .second_block .info_block .eighth .name_eighth:hover p span {
  display: none;
}
main .second_block .info_block .eighth .name_eighth:hover p:after {
  content: "Анастасия Кистенева (этот обонент не в зоне действия галактики, перейдите на другую галактику)";
}

/*block_with_animate*/
main .animation_with_frog {
  position: absolute;
}
main .animation_with_frog .anim_text #toggle {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 30px;
  border-radius: 10px;
  z-index: 5;
  font-family: "Montserrat_Alternates";
  margin-top: 2100px;
  margin-left: 1400px;
  width: 300px;
  height: 40px;
  text-align: center;
  padding: 10px 5px 10px 5px;
  transform: rotate(-90deg);
}
main .animation_with_frog .anim_text .triangle {
  height: 0px;
  width: 0px;
  border-left: 55px solid white;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 4;
  margin-top: 2210px;
  margin-left: 1570px;
  position: absolute;
}
main .animation_with_frog .first_eye .first_part {
  position: absolute;
  z-index: 5;
  margin-top: 2300px;
  margin-left: 1570px;
}
main .animation_with_frog .first_eye .first_part img {
  width: 250px;
}
main .animation_with_frog .first_eye .second_part {
  position: absolute;
  z-index: 5;
  margin-top: 2330px;
  margin-left: 1600px;
}
main .animation_with_frog .first_eye .second_part img {
  width: 200px;
}
main .animation_with_frog .first_eye .animate_eye {
  position: absolute;
  z-index: 5;
  margin-top: 2150px;
  margin-left: 1610px;
}
main .animation_with_frog .first_eye .animate_eye img {
  width: 90px;
}
main .animation_with_frog .second_eye .first_part {
  position: absolute;
  z-index: 5;
}
main .animation_with_frog .second_eye .second_part {
  position: absolute;
  z-index: 5;
}
main .animation_with_frog .second_eye .animate_eye {
  position: absolute;
  z-index: 5;
}